/* Animate a rectagular shadow typing effect. */

.react-natural-typing-effect-typewriter {
  background-color: white;
  color: white;
  animation-name: react-natural-typing-effect-typewriter-animation;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

@keyframes react-natural-typing-effect-typewriter-animation {
  from {
    background-color: black;
    color: black;
  }
  to {
    background-color: white;
    color: black;
  }
}

.react-natural-typing-effect-negativeTypewriter {
  background-color: black;
  color: black;
  animation-name: react-natural-typing-effect-negativeTypewriter-animation;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

@keyframes react-natural-typing-effect-negativeTypewriter-animation {
  from {
    background-color: white;
    color: white;
  }
  to {
    background-color: black;
    color: white;
  }
}

.react-natural-typing-effect-blackGreenTerminal {
  background-color: black;
  color: greenyellow;
}

.react-natural-typing-effect-blackGreenTerminal-cursor {
  background-color: greenyellow;
}

.react-natural-typing-effect-blinking-cursor {
  animation-iteration-count: infinite;
  animation-name: react-natural-typing-effect-blinking-cursor-animation;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes react-natural-typing-effect-blinking-cursor-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

